
@import "https://fonts.googleapis.com/css?family=Bevan:300,400,500,600,700";

.title1 {
    font-family: 'Bevan', sans-serif;
    color:rgb(236, 93, 37);
    text-align: center;
    font-size: 24pt;
}
.title2 {
    font-family: 'Bevan', sans-serif;
    color:rgb(203, 37, 236);
    text-align: center;
    font-size: 16pt;
    margin-top:-16pt;
}


 .home .linkbox {
     position:absolute;

 }
 .courselink {
     display:inline-block;
    width:200px;
    height:100px;
    margin-left:30px;
    margin-right:30px;
    border-radius:20px;
    z-index:2;
    border:rgb(65, 107, 223) 1px solid;
    
 }

